div{
  color: #FFFFFF;
  text-align: left;
}
body{
  padding: 100px 150px ;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  background-color: white;
  padding: 10px 25px;
  border-radius: 20px;
  margin-top: 5%;
}
img, h1, p{
  margin: 10% 0;
}
p{
  margin-bottom: 50%;
}

.left, .middle, .right{
  padding: 5% 7%;
}
.left{
  background: #EF8F3C;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.middle{
  background: #05465A;
  /* width: 31%; */
}
.right{
  background: #034638;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.left a{
  color: #EF8F3C;
}
.middle a{
  color: #05465A;
}
.right a{
  color: #034638;
}

@media (max-width: 1199px) {
  .right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  img, h1, p{
    margin: 5% 0;
  }
  p{
    margin-bottom: 20%;
  }
}